<%= form_with(model: @channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :channel_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :channel_description %>
  </div>

    <div class="waves-effect waves-light btn", style="display: inline-block;">
      <%= form.submit %>
    </div>

    <div style="display: inline-block;">
      <a class="waves-effect waves-light btn" href="<%= channels_path %>">Back</a>
    </div>
<% end %>
