<h1>Editing Channel</h1>
<% if current_user.superadmin_role %>

<%= render 'form', channel: @channel %>

<%= link_to 'Show', @channel %> |
<%= link_to 'Back', channels_path %>
<% else %>
    <h2>You are being redirected to homepage due to insufficient access.
      <script>setTimeout(function(){window.location.href="/"},3000);</script></h2>
<% end %>