<p id="notice"><%= notice %></p>

<h1>Channel</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @channels.each do |channel| %>
      <tr>
        <% unless channel.isDeleted %>
          <td><a href="<%= channel_posts_path(channel) %>"><%= channel.title %></a></td>
          <td><%= channel.description %></td>
          <% if current_user.superadmin_role? %>
              <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
              <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure? Deleting this channel will removes all posts and comments.' } %></td>
          <% else %>
              <td colspan="2"><p>Latest post:</p>
                <% if channel.posts.any? %>
                      <a href="<%= channel_posts_path(channel,channel.posts.last)%>"><%= channel.posts.last.post_title %></a> by <%= channel.posts.last.user.user_name%></p></td>
                <% else %>
                  <p>No posts yet.</p>
                <% end %>

                <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if current_user.superadmin_role? %>
    <a class="waves-effect waves-light btn" href="<%= new_channel_path %>">New Channel</a>
<% else %>
<% end %>