<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
    <div class="field">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, id: :user_user_name %>
    </div>

    <!--<div class="field">-->
      <!--<#= f.check_box :superadmin_role, id: :user_superadmin_role %>-->
      <!--<#= f.label :superadmin_role %>-->
    <!--</div>-->

    <div class="field">
      <%= f.label :employee_no %>
      <%= f.text_field :employee_no, id: :user_employee_no %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, id: :user_phone_number %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, id: :user_address %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, id: :user_city %>
    </div>

    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, id: :user_state %>
    </div>

    <div class="field">
      <%= f.label :zip_code %>
      <%= f.number_field :zip_code, id: :user_zip_code %>
    </div>

    <div class="waves-effect waves-light btn">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
