<%= form_for([@comment.post, @comment], remote:true ) do |form| %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :comment_body %>
  </div>


  <div class="waves-effect waves-light btn", style="display: inline-block;">
    <%= form.submit "Post comment" %>
  </div>

  <div style="display: inline-block;">
    <a class="waves-effect waves-light btn" href="<%= channel_posts_path(@comment.post) %>">Back</a>
  </div>

<% end %>
