<%= form_with(model: user, local: true)do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :user_user_name %>
  </div>

  <div class="field">
    <%= form.label :employee_no %>
    <%= form.text_field :employee_no, id: :user_employee_no %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :user_phone_number %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :user_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :user_state %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.number_field :zip_code, id: :user_zip_code %>
  </div>
    <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <div class="field">
    <%= form.check_box :superadmin_role, id: :user_superadmin_role %>
    <%= form.label :superadmin_role %>
  </div>

  <div class="field">
    <%= form.check_box :supervisor_role, id: :user_supervisor_role %>
    <%= form.label :supervisor_role %>
  </div>
  <% else %>
  <% end %>
  <div style="margin-bottom: 3em; float: right; " class="waves-effect waves-light btn">
    <%= form.submit %>
  </div>

  <div style="display: inline-block;margin-bottom: 3em;">
    <a class="waves-effect waves-light btn", href="<%= users_path %>">Back</a>
  </div>
<% end %>
