<h1>Editing User</h1>
<% if current_user.superadmin_role %>

<%= render 'form', user: @user %>
<% else %>
    <h2>You are being redirected to homepage due to insufficient access.
      <script>setTimeout(function(){window.location.href="/"},3000);</script></h2>
<% end %>