<p id="notice"><%= notice %></p>
<% if current_user.superadmin_role %>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Employee no</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.employee_no %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.address %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.zip_code %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure? Deleting this user will remove all their posts and comments.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Import Users</h3>
<%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Users" %>
<% end %>

<%= link_to 'New User', new_user_path %>
<% else %>
  <h2>You are being redirected to homepage due to insufficient access.
  <script>setTimeout(function(){window.location.href="/"},3000);</script></h2>
<% end %>