<p id="notice"><%= notice %></p>

<div class="card-panel">
  <table class="bordered highlighted">
    <thead>
      <tr colspan="3" align="center" ><strong>User name</strong></tr>
      <%= @user.user_name %>
      <tr>
        <th><%= sort_link(@q, :post_title, 'Post title') %></th>
        <th>Number of comments</th>
        <th><%= sort_link(@q, :created_at, 'Date created') %></th>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post|  %>
      <tr>
        <td><a href="<%= channel_post_path(post.channel, post) %>"><%= post.post_title %></a></td>
        <td><%= post.comments.count %></td>
        <td><%= post.created_at.strftime("%b %-d, %Y %-I:%M %p") %></td>
      </tr>
        <% end %>
    </tbody>
  </table>
</div>

