
<div style="margin-top: 3em;" class="card-panel grey lighten-5 z-depth-5">
  <table class="table-responsive">
    <thead>
    <tr>
      <td colspan="3"><h3><%= @channel.title %></h3></td>
    </tr>
    <tr>
      <td>Post title</td>
      <td>Date created</td>
      <td>Posted by</td>
      <td>Replies</td>
    </tr>
    </thead>
    <tbody>
      <% if @posts.any? %>
        <% @posts.each do |post| %>
        <tr>
          <td><a class="truncate" href="<%= channel_posts_path(post) %>"><%= post.post_title %></a></td>
          <td><%= post.created_at.strftime("%b %-d, %Y %-I:%M %p") %></td>
          <% if current_user == post.user %>
            <td><a href="<%= user_path(post.user)%>"><%= post.user.user_name %></a></td>
          <%else %>
            <td><%= post.user.user_name %></td>
          <% end %>
          <td><%= post.comments.count %></td>
          <% end %>
        </tr>
      <% else %>
        <tr><td>No announcement from administrators.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<div style="margin-top: 3em;" class="card-panel grey lighten-5 z-depth-5">
  <table class="table-responsive">
    <thead>
      <tr>
        <td colspan="3"><h3>Recent posts</h3></td>
      </tr>
      <tr>
        <td>Post name</td>
        <td>Date created</td>
        <td>Posted by</td>
        <td>Replies</td>
      </tr>
    </thead>
    <tbody>
    <% @posts = Post.all.order('created_at DESC').limit(5) %>
    <% @user = User.new %>
    <% @posts.each do |p| %>
      <tr>
        <td><a href="<%= channel_posts_path(p.channel, p) %>"><%= p.post_title %></a></td>
        <td><%= p.created_at.strftime("%b %-d, %Y %-I:%M %p") %></td>
        <% if p.user == current_user %>
            <td>You</td>
        <% else %>
        <td>
          <% if p.user %>
            <% if p.user == current_user %>
              <a href="<%= edit_user_path(p.user) %>"><%= p.user.user_name %></a>
            <% else %><%= p.user.user_name %>
            <% end %>
        </td>
          <% end %>
        <% end %>
        <td><%= p.comments.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

