<div style="margin-top: 3em", class="row">
  <div class="col">
    <h1>Posts</h1>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
          <p><a href="<%= channel_posts_path(post.channel, post) %>"><%= post.post_title %></a></p>
      <% end %>
    <% else %>
        <h2>There are no posts matching your search. You are redirected to channels.<script>setTimeout(function(){window.location.href="/channels"},3000);</script></h2>
    <% end %>
  </div>
</div>

