<h3>Posts per day</h3>
<% if current_user.superadmin_role? || current_user.supervisor_role? %>

<div style="margin-bottom: 3em", class="card-panel"><%= line_chart charts_new_posts_path, xtitle: "Time", download: true  %></div>

<h3>Post per day by channel</h3>
<div style="margin-bottom: 3em", class="card-panel"><%= column_chart charts_new_posts_per_channel_path, download: true %></div>

<h3>Post per day by user</h3>
<div style="margin-bottom: 3em", class="card-panel"><%= column_chart charts_posts_day_user_path, download: true %></div>

<h3>List of all posts</h3>
<!--<div style="margin-bottom: 3em", class="card-panel">
  <table>
    <thead>
      <tr>
        <th style="width: 20%; vertical-align: middle;">Title</th>
        <th data-defaultsign="day">Date</th>
        <th style="width: 20%; vertical-align: middle;" >User</th>
        <th style="width: 20%; vertical-align: middle;">Channel</th>
      </tr>
    </thead>
    <tbody class='sortable'>
    <% if @posts.any? %>
        <% @posts.each_with_sortable_id do |post, sortable_id| %>
    <tr id="<%= sortable_id %>">
          <td><%= post.post_title %></td>
          <td><%= post.created_at %></td>
          <td><%= post.user.user_name %></td>
          <td><%= post.channel.title %></td>
      </tr>
          <% end %>
        <% else %><td>There is no records found.</td>
        <% end %>
    </tbody>
  </table>
</div>-->

<div class="card-panel">
  <table class="bordered highlighted">
    <thead>
    <tr>
      <th><%= sort_link(@q, :post_title, 'Post title') %></th>
      <th><%= sort_link(@q, :created_at, 'Date created') %></th>
      <th><%= sort_link(@q, :user_user_name, 'Username') %></th>
      <th><%= sort_link(@q, :channel_title, 'Channel') %></th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post|  %>
        <tr>
          <td><%= post.post_title %></td>
          <td><%= post.created_at.strftime("%b %-d, %Y %-I:%M %p") %></td>
          <td><%= post.user.user_name %></td>
          <td><%= post.channel.title %></td>
        </tr>

    <% end %>
<% else %>
    <h2>You are being redirected to homepage due to insufficient access.
      <script>setTimeout(function(){window.location.href="/"},3000);</script></h2>
<% end %>
    </tbody>
  </table>
</div>