
<%= form_for([@post.channel, @post], remote: true) do |form| %>

  <div class="field">
    <%= form.label :post_title %>
    <%= form.text_field :post_title, id: :post_post_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
  </div>

  <div class="chips">
    <%= form.label :tag_list, "Tags (separated by comma)" %>
    <%= form.text_area :tag_list, id: :post_tag_list %>
  </div>


    <div class="waves-effect waves-light btn", style="display: inline-block;">
      <%= form.submit "Submit" %>
    </div>

    <div style="display: inline-block;">
      <a class="waves-effect waves-light btn" href="<%= channel_posts_path(@post.channel) %>">Back</a>
    </div>
  </div>
<% end %>