<p id="notice"><%= notice %></p>
<h2><%= @channel.title %></h2>
       <% i=1 %>
    <% @posts.each do |post| %>
    <% if @channel.title != "Announcement"  %>
        <div style="margin-bottom: 3em; display: inline-block;">
          <a class="waves-effect waves-light btn" href="<%= new_channel_post_path(post.channel,post) %>">New Post</a>
        </div>
    <% elsif @channel.title == "Announcement" %>
        <%	if current_user.superadmin_role? || current_user.supervisor_role?  %>
            <div style="margin-bottom: 3em; display: inline-block;">
              <a class="waves-effect waves-light btn" href="<%= new_channel_post_path(post.channel,post) %>">New Post</a>
            </div>
        <%	elsif post.nil? %>
                <h4>There is no announcements yet</h4>
        <% end %>
    <% else %>
    <% end %>
    <div class="card-panel grey lighten-5 z-depth-3">
      <div class="row">
        <div class="col s12"><i><%= post.created_at.strftime("%b %-d, %Y %-I:%M %p") %></i><span style="float: right", align="right"><%= i %></span></div>
      </div>
      <div class="row">
        <div style="border-bottom: solid black", class="col s12">
          <%  if post.user.present? %>
          <span><%= post.user.user_name %></span>
          <span style="float: right">
            <div>
              <p>Join date: <%= post.user.created_at.strftime("%b %-d, %Y %-I:%M %p") %></p>
              <p>Address: <%= post.user.address %></p>
              <p>Post: <%= post.user.posts.count %></p>
            </div>
            <% else %>
            <div>No user assigned to this post</div>
            <% end %>
          </span>
        </div>
      </div>
        <h4><%= post.post_title %></h4>

        <div class="col s12"><span class="flow-text"><%= post.body %></span>
          <p>Tags: <%= raw(post.tag_list.map { |t| link_to t, channel_post_tag_path(@channel, post, t) }.join(', ')) %></p>
        </div>

        <div class="col s12 m4 l2">
          <% if post.updated_at.present? %>
            Edited at <%= post.updated_at.strftime("%b %-d, %Y %-I:%M %p") %>

          <% else %>
          <%  end %>
        </div>

        <div class="col s12 m4 l2">
        <!--<#= link_to 'Show', [post.channel, post] %>-->
            <% if can? :update, post %>
              <%= link_to 'Edit', edit_channel_post_path(post.channel, post) %>
              <%= link_to 'Delete', [post.channel, post], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end  %>
            <!--<#= link_to 'Quote', [response.post, response], method: :delete, data: { confirm: 'Are you sure?' } %>-->
        </div>
    </div>

    <% if post.comments.present? %>
      <% post.comments.each do |comment|%>
        <div style="margin-left: 5em;", class="card-panel grey lighten-5 z-depth-3">
          <span><%= comment.body %></span> -
          <% if comment.user_id == current_user.id %>
            <span>Commented by: <a href="<%=edit_user_path(comment.user) %>"><%= comment.user.user_name %></a></span>
          <% else %>
            <span>Commented by: <%= comment.user.user_name %></span>
          <% end %>
          <span style="float: right">
            <span><%= comment.created_at.strftime("%b %-d, %Y %-I:%M %p") %></span>
            <% if can? :update, comment %>
            <span style="margin-left: 5px"><%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %></span>
            <span style="margin-left: 5px"><%= link_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %></span>
          </span>
            <% end %>
        </div>
      <% end %>

    <% else %> There is no comments in this post
    <% end %>


    <div style="margin-bottom: 8em" class="comments">
      <section class="comments-box">
        <div class="add-a-comment">
          <button type="button" style="float: right" class="waves-effect waves-light btn">add a comment</button>
        </div>
        <div class="form">
        <%= form_for [post, @comment]  do |form| %>
              <%= form.text_area :body, id: :comment_body %>
              <%= form.submit 'submit',class: "add-a-comment waves-effect waves-light btn"  %>
        <% end %>
        </div>
      </section>
    </div>
    <hr>
    <% i = i + 1 %>
    <% end %>

<br>

<div style="margin-bottom: 3em; display: inline-block;">
  <a class="waves-effect waves-light btn" href="<%= channels_path %>">Back</a>
</div>

