<p id="notice"><%= notice %></p>

<p>
  <strong>Post title:</strong>
  <%= @post.post_title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @post.channel.title %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @post.isDeleted %>
</p>

<p>
  <strong>Isprivate:</strong>
  <%= @post.isPrivate %>
</p>

<!--<p>-->
  <!--<strong>Post tag:</strong>-->
  <!--<#= @post.post_tag.tag_name %>-->
<!--</p>-->

<p>
  <strong>Isedited:</strong>
  <%= @post.isEdited %>
</p>

<%= link_to 'Edit', edit_channel_post_path(@post.channel, @post) %> |
<%= link_to 'Back', channel_posts_path(@post.channel) %>
